@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');


$primary-color:#B2EBF9;
$secondary-color:#AFBAEF;
$terciary-color:#8C56A2;
$complementary-color-one:#AEEBF2;
$complementary-color-two:#F2F2F2;
$complementary-color-three:#8E58A6;
$font-primary:'Roboto Flex', sans-serif;

#footer-background {
  background-color:$complementary-color-two !important;
    
}
