*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* slide */
#carouselExampleIndicators img{
height:40rem;
}

/* card */
.cards {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card img{
  display: flex;
 padding-left:6rem ;
 padding-top: 2rem;
  width: 60%;
 
}
.hover-button a:hover {
  background-color: #8E58A6;
}





/* responsive tablet*/
@media(max-width: 960px){

  .cards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  
  }

}
@media(max-width: 480px){

  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  
  }

}
  