@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
.div-datos-cliente {
    background-color: #F2F2F2;
    width: 50rem; 
}
.col-sm-1 {
    text-align: center;
  }