@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

#imagen-perfil {
  width: 15rem;
  border-radius: 2rem;
}
 
.div-datos-cliente {
    border: 1px solid #AFBAEF;
    width: 50rem; 
}
.col-sm-1 {
    text-align: center;
  }

  .imagen-caja {
    width: 13rem;
  }

.div-pedidos-curso {
  margin-top: 5rem;
}

.div-historico-pedidos {
  margin-bottom: 3rem;
}
.btn {
  color:#8C56A2;
  font-weight: bolder;
}

.boton-modificar-perfil {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.input-pagina-cliente {
  margin-left: 4.7rem;
}

.text-center {
  margin-bottom: 3rem;
}

/*Media query para movil*/

@media (max-width: 650px) {
  .texto-pedidos {
    text-align: center;
  }

  .input-pagina-cliente {
    margin-left: 0rem;
  }

  .imagen-caja {
    display: none;
  }
  
}

/*Media query para tablet*/

@media (min-width: 651px) and (max-width: 850px) {
 
  .imagen-caja {
    display: none;
  }

  .boton-modificar-perfil {
    
    font-size: 1.2rem;
  }
}