@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
<<<<<<< HEAD

@import url(/source/_Footer.scss);
@import url(/source/_compraRealizada.scss);
=======
@import url('/Proyecto-E-commerce/source/catalogo');
@use 'catalogo';
>>>>>>> 3aba852ed4ae1dfc22e70aef5f537483e4b17f98
$primary-color:#B2EBF9;
$secondary-color:#AFBAEF;
$terciary-color:#8C56A2;
$complementary-color-one:#AEEBF2;
$complementary-color-two:#F2F2F2;
$complementary-color-three:#8E58A6;
$font-primary:'Roboto Flex', sans-serif;
$padding:20rem;

//NavBar
#logonavbar{
    width: 8rem;
    margin: 0 auto;
   
    
}
#img-mundo{
    width: 2rem;
    
}

#img-usser{
    height: auto;
    width: 2rem;
}



//Estilo home
.home-main {
    background-image: url("../image/mascota_perro.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    max-width: 100vw;
    height: 100vh;    
    position: relative;
    font-family: $font-primary;
   
    .titulo {
        margin: auto;
        padding-top: 8rem;
        font-size: 5rem;
        font-weight: bolder;
        text-align: center;
        color: $terciary-color;
    }

    .container {
        width: 40%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid $terciary-color;
        background-color: $complementary-color-two;

        p {
            margin: 1rem;
            font-size: large;
            text-align: center;
            
            .entrar {
                font-size: larger;
                font-weight: bolder;
            }

            a {
                text-decoration:none;
                color: $terciary-color;
            }
       }
    }
}


/* Media queries for Tablet */
@media screen and (max-width: 960px) {
    .home-main {
        .titulo {
            padding-top: 8rem;
        }
        
        .container {
            width: 75%;
            top: 40%;
        }
    }
}

/* Media queries for mobile */
@media screen and (max-width: 480px) {
    .home-main {
        .titulo {
            padding-top: 4rem;
            font-size: 3rem;
        }

        .container {
            width: 98%;
        }
    }
}

//Estilos página de cliente

.div-datos-cliente {
    background-color: $complementary-color-two;
    width: 50rem;
}
















// compras

.carosel{
    height: 50%;
  
}
