$primary-color:#B2EBF9;
$secondary-color:#AFBAEF;
$terciary-color:#8C56A2;




.logo{
    align-items: center;
    height: 6rem;
    
    .img{
        
        height: 4rem;
        width: 4rem;
        margin-right: 2rem;
        margin-left: 2rem;
        
    }

    h1{
        padding-top: .5rem;
    }


  
}  

#img{
    width: 2.5rem;
}

